/*
 * Globals
 */
body {
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #555;
}

h1,.h1,h2,.h2,h3,.h3,h4,.h4,h5,.h5,h6,.h6 {
	margin-top: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
	color: #333;
}

/*
 * Override Bootstrap's default container.
 */
@media ( min-width : 1200px) {
	.container {
		width: 1100px;
	}
}

/*
 * Masthead for nav
 */
.only4football-masthead {
	background-color: #428bca;
	-webkit-box-shadow: inset 0 -2px 5px rgba(0, 0, 0, .1);
	box-shadow: inset 0 -2px 5px rgba(0, 0, 0, .1);
	margin-bottom: 20px;
}

/* Nav links */
.only4football-nav-item {
	position: relative;
	display: inline-block;
	padding: 10px;
	font-weight: 500;
	color: #cdddeb;
}

.only4football-nav-item:hover,.only4football-nav-item:focus {
	color: #fff;
	text-decoration: none;
}

/* Active state gets a caret at the bottom */
.only4football-nav .active {
	color: #fff;
}

.only4football-nav .active:after {
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	margin-left: -5px;
	vertical-align: middle;
	content: " ";
	border-right: 5px solid transparent;
	border-bottom: 5px solid;
	border-left: 5px solid transparent;
}

.full-width-banner {
	min-height: 270px;
	color: #CCCCDD !important;
}

.wanna-play {
	background: url(../images/ground.jpg) no-repeat;
	background-size: 100% 600px;
}

.wanna-play-container .thumbnail img {
	width: 100%;
	height: 121px;
}

.translucent-black {
	background: rgba(0, 0, 50, .40);
	min-height: 270px;
}

.text-color-white {
	color: #FFFFFF;
}

.blog-post-meta {
	color: #999;
}

.only4football-main {
	font-size: 18px;
	line-height: 1.5;
}

.main-section {
	margin-bottom: 20px;
}

.small-title {
	font-size: 25px;
}

hr {
	margin-top: 5px;
	margin-bottom: 10px;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
	height: 300px;
	margin-bottom: 10px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
	z-index: 10;
	padding-bottom: 0px;
	bottom: 0px;
	background-color: rgba(38, 40, 46, 0.65);
	width: 100%;
	right: 0%;
	left: 0%;
}

/* Declare heights because of positioning of img element */
.carousel .item {
	height: 300px;
	background-color: #777;
}

.carousel-inner>.item>img {
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%;
	height: 300px;
}

/*
 * Footer
 */
.only4football-footer {
	padding: 40px 0;
	color: #999;
	text-align: center;
	background-color: #f9f9f9;
	border-top: 1px solid #e5e5e5;
}

.only4football-footer p:last-child {
	margin-bottom: 0;
}

.ecom-product img {
	height: 180px;
	width: 180px;
	display: block;
	margin: auto;
	display: block;
}

.margin-bottom-20 {
	margin-bottom: 20px;
}

.ecom-product-details {
	margin-top: 10px;
}

.new-price {
	font-size: 18px;
	color: black;
}

.new-price-large{
	font-size: 22px;
	color: black;
}

.brand-name {
	color: #333333;
	font-size: 16px;
}

.brand-name-large{
	color: #333333;
	font-size: 16px;
}

.main {
	margin-top: 90px;
}

.main, .main * {
	font-family: 'Open Sans', serif !important;
}

.footer {
	padding-top: 20px;
}

.media-body {
	font-size: 0.895em;
	line-height: 20px;
}

.media-heading {
	margin-bottom: 10px;
}

.label {
	font-size: 0.6em;
	padding: 3px;
}